html {
  font-size: 1rem;
}
body {
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0;
  background-repeat: no-repeat;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.card {
  font-family: serif;
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  /* margin-left: 20rem;
  margin-right: 20rem; */
  margin: 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 7px 9px rgba(0, 0, 0, 0.12), 0px 20px 25px -8px rgba(0, 0, 0, 0.18);
  
}
.card-title {
  font-size: 1.4rem;
}

.App{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-left: 20rem;
  margin-right: 20rem;
  
}

.Title{
  font-family:'Courier New', Courier, monospace;
  margin-top: 4%;
  text-align: center;
  border-radius: 10px;
  border-width: 0px;
  border-style: solid;
  margin-left: 25rem;
  margin-right: 25rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 7px 9px rgba(0, 0, 0, 0.12), 0px 20px 25px -8px rgba(0, 0, 0, 0.18);
}


@media only screen and (max-width: 700px) {
  .App{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0rem;
    margin-right: 0rem;
  }
  html{
    font-size: 10px;
  }
  .Title{
    font-family:'Courier New', Courier, monospace;
    margin-top: 4%;
    text-align: center;
    border-radius: 10px;
    border-width: 0px;
    border-style: solid;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
